body, html{
    height: 100%;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}



.container{
    max-width: 1250px;
    margin: 0 auto;
    display:block;
}


#header, #footer{
    background-color: #c7d9e2;
}


#header{
    position: fixed;
    width: 100%;
}

#header ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
}

#header li{
    display: inline-block;
    margin: 20px 24px;
}

#header li > a{
    font-size: 16px;
    padding: 6px 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

#header li > a.active{
    color: red;
}

#header li > a:hover{
    color: #fff;
}

#header li > a.active:hover{
    color: red;
    cursor: default;
}

#header .logo{
    display: inline-block;
    float: left;
    margin: 5px;
}

#main{
    margin-top: 74px;
    flex: 1 0 auto;
    background: url('../pics/main-bg.png') no-repeat center center;
    background-size: cover;
    padding-bottom: 50px;
}

.main-page h1{
    color:#002976;
    font-size: 50px;
}

.main-page h2{
    font-weight:300;
    font-size:18px;
    max-width:600px;
    margin:0 auto 50px;
}

.text-center{
    text-align:center;
}

.container.main-page{
    max-width: 1000px;
}

#footer{
    padding: 25px 0;
}

.about-text{
    margin-top: 30px;
}

.about-text img{
    margin: auto 25px 25px auto;
    float:left;
}

.news-item{
    background-color: #fff;
    box-shadow: 1px 3px 5px 2px #ccc;
    padding: 20px;
    margin:20px 0;
    border-radius: 3px;
}

.news-item h2{
    margin-top: 0;
}

div.tab-frame input{ display:none;}
div.tab-frame label{ display:block; float:left;padding:5px 10px; cursor:pointer}
div.tab-frame input:checked + label{ background:black; color:white; cursor:default}
div.tab-frame div.tab{ display:none; padding:20px 20px;clear:left; width: 650px; height: 230px;}

div.tab-frame input:nth-of-type(1):checked ~ .tab:nth-of-type(1),
div.tab-frame input:nth-of-type(2):checked ~ .tab:nth-of-type(2),
div.tab-frame input:nth-of-type(3):checked ~ .tab:nth-of-type(3){ display:block;}



div.tab-frame{
    box-shadow: 1px 3px 5px 2px #ccc;
    background-color: #fff;
}

.tab div, span{
    font-family:arial,sans-serif !important;
    color:#878787;
    font-weight: lighter;
}

.tab img{
    width: 100px;
    height:auto;
}

.main-info{
    display:inline-block;
}

.placement{
    margin-top: 8px;
    font-size: 35px;
    font-weight: lighter;
    color: #878787;
    font-family: arial, sans-serif;
}

.temperature{
    color:black;
    font-weight: normal;
    font-size: 60px;
    vertical-align: 50%;
}

.celsium {
    color: black;
    font-weight: normal;
    font-size: 18px;
    vertical-align: 300%;
}

.weather-more-info {
    margin-top: 5px;
    float: right;
    font-size: 20px;
    display: inline-block;
}

.reply-textarea{
    min-width: 800px;
    min-height: 200px;
    resize: none;
}

.styled-button{
    font-size: 15px;
    width: 120px;
    height: 40px;
    background-color: white;
    color: black;
    border: 2px solid blue;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.styled-button:hover{
    background-color: blue;
    color: white;
}

.login-form{
    text-align: left;
    display: inline-block;
    padding: 130px 300px;
    width: 250px;
    text-align: center;
}

.login-form label, input{
    margin: 2px 0;
}

.login-form label{
    float: left;
}

.login-form input{
    float: right;
}

.login-form button{
    margin: 10px 10px;
}

.cover-for-login{
    text-align: center;
}

.register-form input, select{
    padding: 8px 1px;
    margin: 5px 0;
}

select{
    border: none;
    border-radius: 4px;
    background-color: #e6e6e6;
    padding: 9px 16px;
    margin: 3px 0;
}

.register-button{

    float: right;
    font-size: 15px;
    width: 120px;
    height: 40px;
    background-color: white;
    color: black;
    border: 2px solid grey;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.register-button:hover{
    background-color: grey;
    color: white;
}

.login-button{
    font-size: 15px;
    width: 100px;
    height: 30px;
    background-color: white;
    color: black;
    border: 2px solid grey;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.login-button:hover{
    background-color: grey;
    color: white;
}

.register-form{
    width: 500px;
}

.register-form label{
    float: left;
}

.register-button input, select{
    /*float: right;*/
}

.labels{
    display: inline-block;
    float: left;
}

.labels label{
    margin: 12px 5px;
}

.inputs{
    float: right;
    width: 75%;
}
.inputs input{
    width: 100%;
}

.select-country, .select-gender{
    width: 100%;
}
